@page "/positions/all/add"
@model AddModel
@{
}

@section styles
{
    <link rel="stylesheet" href="~/css/add.css" />
}



<div class="wrapper">
    <form class="form" method="post">
        <table>
            <tr>
                <td>
                    <label asp-for="Name">
                        Job title: 
                    </label>
                </td>
                <td>
                    <input asp-for="Name" />
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <button type="submit" class="btn btn-save btn-lg">Add position</button>
            <a asp-page="AllPositions" class="btn btn-cancel btn-lg">Cancel</a>
        </div>
    </form>
</div>