@page "/positions/all/add"
@model AddModel
@{
}

@section styles
    {
        <link rel="stylesheet" href="~/css/add.css" />
}



<div class="wrapper">
    <form class="form" method="post">
        <table>
            <tr>
                <td>
                    <label asp-for="PositionDto!.Name">
                        Job title: 
                    </label>
                </td>
                <td>
                    <input asp-for="PositionDto!.Name" />
                </td>
            </tr>
        </table>
        <partial name="FormButtons" />
    </form>
</div>