@page "/positions/all/add"
@model AddModel
@{
    ViewData["Title"] = "Add position";
}
@section styles
{
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
}

<div class="wrapper">
    <div asp-validation-summary="ModelOnly"></div>
    <form class="form" method="post">
        <table>
            <tr>
                <td>
                    <label asp-for="Name">
                        Job title: 
                    </label>
                </td>
                <td>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="error"></span>
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <button type="submit" class="btn btn-save btn-lg">Add position</button>
            <a asp-page="/Positions/List" class="btn btn-cancel btn-lg">Cancel</a>
        </div>
    </form>
</div>