@page "/positions/all/{id}/edit"
@model SchoolManagement.Web.Pages.Positions.EditModel;

@section styles
{
    <link rel="stylesheet" href="~/css/edit.css" />
}

<div class="wrapper">
    <form method="post" class="edit">
        <label asp-for="PositionDto.Name">
            Job title: 
            <input asp-for="PositionDto.Name" />
        </label>
        <input type="hidden" asp-for="PositionDto.Id" />
        <div class="btns">
            <input type="submit" name="Save" class="btn btn-save btn-lg"/>
            <a asp-page="/Positions/AllPositions" class="btn btn-cancel btn-lg">Cancel</a>
        </div>
    </form>
</div>