body {
}

.wrapper {
    
}

.filter-btn .add {
    margin-left: 4px;
}

.tables {
    width: auto;
    display: inline-block;
}

.add button {
    background-color: blue;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.add button:hover {
    background-color: darkblue;
}

.add button {
    margin: 0;
}