@using System;
@using System.IO;
@using System.Web;
@{
    var page = System.IO.Path.GetFileName(Context.Request.Path);
    var prevDisabled = !Model.Items.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Items.HasNextPage ? "disabled" : "";
}

<div class="pagination-group">
    <a asp-page="List"
       asp-all-route-data="Model.FilterParams"
       asp-route-pageIndex="@(Model.Items.PageIndex - 1)"
       class="pagination btn @prevDisabled">
        Previous
    </a>
    <a asp-page="List"
       asp-all-route-data="Model.FilterParams"
       asp-route-pageIndex="@(Model.Items.PageIndex + 1)"
       class="pagination btn @nextDisabled">
        Next
    </a>
</div>