<button type="submit" class="btn btn-success btn-sm cell">Search</button>
<a asp-page="List" class="btn btn-secondary btn-sm cell">Back to full list</a>
<a asp-page="Add" class="btn btn-secondary btn-sm cell">Add</a>
