.header {
    display: flex;
    height: 80px;
    background: linear-gradient(#5d468c, #73678b)
}

.name {
    display: block;
    margin-top: 15px;
    font-size: 24px;
    margin-left: 20px;
    background-color: #2D1A38;
}

details > summary {
    list-style: none;
}

details[open] .content {
    position: absolute;
    display: block;
    animation: slide .3s ease-in-out;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

body {
    padding: 2rem 5rem;
}

.drop-down {
    position: absolute;
    top: 10px;
    right: 50px;
}

.avatar {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background-color: blue;
}

details[open] .dropdown-menu {
    animation: slide .3s ease-in-out;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.list details[open] {
    text-align: right;
}

.dropdown-menu {
    display: block;
    background-color: #daeeff;
    left: 20px;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    height: 30px;
    border-bottom: 1px solid white;
}

    .item:hover {
        background-color: #bedffb;
    }

details-item {
    display: block;
    background-color: #bedffb;
}

.content {
    z-index: 1;
    display: block;
    height: 200px;
    width: 100px;
    background-color: gray;
}