<div class="header">
    <div class="name">School name</div>
    <details class="drop-down">
        <summary>
            <div class="avatar"></div>
        </summary>
            <div class="content">user</div>
    </details>
</div>