<section class="fullsreen">
<div class="sidenav">
    <a href="schools" style="border-top: 1px solid black">Schools</a>
    <a class="active" href="floors">Floors</a>
    <a href="rooms">Rooms</a>
    <a href="employees">Employees</a>
    <a href="students">Students</a>
</div>
</section>