<div class="sidenav">
    <a class="a" asp-page="/Schools/List">Schools</a><br />
    <a asp-page="/Floors/List">Floors</a><br />
    <a asp-page="/Rooms/List">Rooms</a><br />
    <a asp-page="/Employees/List">Employees</a><br />
    <a asp-page="/Students/List">Students</a>
</div>