<div class="sidenav">
    <a asp-page="/Schools/List" style="border-top: 1px solid black">Schools</a>
    <a href="/floors">Floors</a>
    <a href="/rooms">Rooms</a>
    <a href="/employees">Employees</a>
    <a href="/students">Students</a>
</div>