<div class="sidenav">
    <a asp-page="/Schools/List" style="border-top: 1px solid black">Schools</a>
    <a asp-page="/Floors/List">Floors</a>
    <a asp-page="/Rooms/List">Rooms</a>
    <a asp-page="/Employees/List">Employees</a>
    <a asp-page="/Students/List">Students</a>
</div>