<div class="sidebar">
    <ul>
        <li><a asp-page="/Floors/List">Floors</a></li>
        <li><a asp-page="/Rooms/List">Rooms</a></li>
        <li><a asp-page="/Employees/List">Employees</a></li>
    </ul>
</div>
