@page "/students/{id}/edit"
@model EditModel
@{
    ViewData["Title"] = $"Edit student {Model.StudentDto.FirstName} {Model.StudentDto.LastName}";
}
@section styles
{
    <link rel="stylesheet" href="~/css/edit.css" />
}

<div class="wrapper">
    <form method="post" class="edit">
        <div class="form-group">
            <label asp-for="StudentDto!.FirstName">
                First name
                <input asp-for="StudentDto!.FirstName" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label asp-for="StudentDto!.LastName">
                Last name
                <input asp-for="StudentDto!.LastName" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label asp-for="StudentDto!.Age">
                Age
                <input asp-for="StudentDto!.Age" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label asp-for="StudentDto!.Group">
                Group
                <input asp-for="StudentDto!.Group" class="form-control" />
            </label>
        </div>
        <input type="hidden" asp-for="StudentDto!.Id" />
        <partial name="FormButtons" />
    </form>
</div>
