@page "/employees/add"
@model EmployeeFormModel

<link rel="stylesheet" href="~/css/add.css" />

<partial name="Sidebar" />

<div class="wrapper">
    <form method="post" class="form">
        <table class="tab">
            <tr>
                <td>First name</td>
                <td>
                    <input class="static" type="text" maxlength="30" required name="firstName"/>
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" maxlength="30" required name="lastName"/>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="number" required name="age" min="18" max="65"/>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    <select name="type">
                        <option value="Teacher">Teacher</option>
                        <option value="Director">Director</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <input class="btn btn-add" type="submit" value="Add employee" />
            <div class="btn cancel">
                 <a asp-page="List">Cancel</a>
            </div>
        </div>
    </form>
</div>