@page "/employees/add"
@model EmployeeFormModel
@{
}

<partial name="Sidebar" />

<form method="post">
    <table align="center">
        <tr>
            <td>First name</td>
            <td>
                <input type="text" maxlength="30" required name="firstName"/>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" maxlength="30" required name="lastName"/>
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td>
                <input type="number" required name="age"/>
            </td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <select name="type">
                    <option value="Teacher">Teacher</option>
                    <option value="Director">Director</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="error" align="center">@Model.Message</div>
    <div align="center">
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
</form>