@page "/employees/add"
@model AddModel

@section styles
{
    <link rel="stylesheet" href="~/css/add.css" />
}

<partial name="Sidebar" />

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>First name</td>
                <td>
                    <input class="static" type="text" maxlength="30" required name="firstName"/>
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" maxlength="30" required name="lastName"/>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="number" required name="age" min="18" max="65"/>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    @foreach(var position in Model.Positions)
                    {
                        <input type="checkbox" name="positions" value="@position.Id">@position.Name
                    }
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <input class="button add" type="submit" value="Add employee" />
            <div class="button cancel">
                 <a asp-page="List">Cancel</a>
            </div>
        </div>
    </form>
</div>