@page "/employees"
@model EmployeesList
@{
    ViewData["Title"] = "Employees";
}
@section styles
{
    <link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />
}

@if(!Model.HasPositions)
{
    <div>The school has no positions. Add positions to add employees.</div>
    <a asp-page="/Positions/SchoolPositions">Positions</a>
}
else
{
    <partial name="_ListContent" />
}
    