@page "/school/{id}"
@model school.Web.Pages.CurrentSchoolModel
@{
}

<ul>
    <li><a asp-page="">Show information</a></li>
    <li><a asp-page="">Floors</a></li>
    <li><a asp-page="">Rooms</a></li>
    <li><a asp-page="">Employees</a></li>
    <li><a asp-page="">Students</a></li>
</ul>