@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  to school management system!</h1>
    <h2><a asp-page="Schools/List" asp-page-handler="FirstTime">Start</a></h2>
</div>