@page
@model SchoolManagement.Web.Pages.InfoModel
@{
}

<ul>
    <li><a asp-page="AllInfo">All information</a></li>
    <li><a asp-page="SchoolsInfo">School</a></li>
    <li><a asp-page="FloorsInfo">Floors</a></li>
    <li><a asp-page="RoomsInfo">Rooms</a></li>
    <li><a asp-page="EmployeesInfo">Employees</a></li>
    <li><a asp-page="StudentsInfo">Students</a></li>
</ul>