@page
@model SchoolManagement.Web.Pages.InfoModel
@{
}

<ul>
    <li><a asp-page="AllInfo">All information</a></li>
    <li><a asp-page="SchoolsInfo">School</a></li>
    <li><a asp-page="FloorsInfo"></a></li>
</ul>