@page "/roomform/{id}"
@model school.Web.Pages.RoomFormModel
@{
}

<form method="post">
    <table align="center">
        <tr>
            <td>
                Floor number
            </td>
            <td>
                <input type="number" name="floorNumber" />
            </td>
        </tr>
        <tr>
            <td>
                Room number
            </td>
            <td>
                <input type="number" name="roomNumber" /><br />
            </td>
        </tr>
        <tr>
            <td>
                Room type
            </td>
            <td>
                <input type="number" name="roomType" />
            </td>
        </tr>
    </table>
    <div class="error" align="center">@Model.Message</div>
    <div align="center">
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
</form>
