@page "/roomform/{id}"
@model school.Web.Pages.RoomFormModel
@{
}

<form method="post">
    Floor Number
    <input type="number" name="floorNumber" /><br />
    Room Number
    <input type="number" name="roomNumber"/><br />
    Room Type
    <input type="number" name="roomType"/>
    <br />
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset" />
</form>