@page
@model SchoolManagement.Web.Pages.SchoolModel
@{
}

<h1 align="center">Your Schools</h1>
<table align="center" width="500px" border="1">
    @foreach (var school in Model.Schools)
    {
        <tr>
            <td>@school.Name</td>
            <td><a asp-page="CurrentSchool" asp-route-id="@school.Id">Choose</a></td>
        </tr>
    }
</table>
<div align="center"><a asp-page="SchoolForm">Add School</a></div>