@page "/rooms/{id}/details"
@model SchoolManagement.Web.Pages.Rooms.DetailsModel
@{
}

<partial name="Sidebar" />

<table>
    <tr>
        <td>Number: </td>
        <td>@Model.Room!.Number</td>
    </tr>
    <tr>
        <td>Type: </td>
        <td>@Model.Room.Type</td>
    </tr>
    <tr>
        <td>Floor: </td>
        <td>@Model.Floor.Number</td>
    </tr>
</table>
<div><a asp-page="Edit" asp-route-id="@Model.Room.Id">Edit</a></div>