@page "/rooms/{id}/edit"
@using SchoolManagement.Models;
@model SchoolManagement.Web.Pages.Rooms.EditModel
@{
    var floors = Model.Floors!.Select(f => new SelectListItem
    {
        Value = f.Id.ToString(),
        Text = f.Number.ToString()
    });
}

<form method="post">
    <table>
        <tr>
            <td>Number: </td>
            <td><input asp-for="Room!.Number" /></td>
        </tr>
        <tr>
            <td>Floor: </td>
            <td>
                <select asp-for="Room!.Floor.Id" asp-items="floors">
                </select>
            </td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>
                <details>
                    @foreach (var type in RoomTypeExt.RoomTypes)
                    {
                        <input name="roomTypes[]" type="checkbox" value="@type.Key" checked="@Model.Room!.Type.HasFlag((RoomType)type.Key)" />
                        @type.Value
                        <br />
                    }
                </details>
            </td>
        </tr>
    </table>
    <input type="hidden" asp-for="Room!.Id" />
    <input type="submit" value="Submit" />
</form>
