@page "/rooms"
@model ListModel
@{
    if(!Model.Rooms!.Any())
    {
        <h2>List of rooms is empty</h2>
    }
}

<partial name="Sidebar" />

<table align="center">
    @foreach(var room in Model.Rooms!)
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@room.Id">Room @room.Number</a></td>
            <td>
                <form asp-page-handler="Delete" method="post" asp-route-id="@room.Id" 
                onclick="return confirm('Are you sure you want to delete room @room.Number?')">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
<div><a asp-page="Add">Add</a></div>
