@page "/rooms"
@model SchoolManagement.Web.Pages.Rooms.ListModel
@{
}

<partial name="Sidebar" />

<table align="center">
    @foreach(var room in ListModel.Rooms)
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@room.Id">Room @room.Number</a></td>
            <form method="post">
                <td><input type="submit" value="Delete" asp-page-handler="delete" asp-route-id="@room.Id" /></td>
            </form>
        </tr>
    }
</table>
<div><a asp-page="Add">Add</a></div>
