body {
    font-size: 18px;
}

.wrapper {
    width: 80%;
    float: right;
}

.form {
    width: max-content;
    vertical-align: middle;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    border-top: 10px solid #009879;
    border-bottom: 5px solid #009879;
    margin-inline: auto;
    height: auto;
    background-color: #F1F6FF;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
}

table tr {
    height: 60px;
    width: 100%;
    vertical-align: top;
}

table td {
    padding-left: 20px;
    text-align: start;
}

    table td:first-of-type {
        font-weight: bold;
    }

    table td:last-of-type {
        margin-left: 20px;
        padding-left: 40px;
    }

.btns {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.btns .btn {
    margin-inline: 5px;
}


.error {
    display: block;
    outline: none;
    color: red;
    font-size: 18px;
}

.btn-save {
    background: #198754;
}

.btn-cancel {
    background: #6c757d;
}

@media (max-height: 600px) {
    .btns {
    }
    .btn-add {
        height: 40px;
        width: 140px;
    }
    .cancel {
        height: 40px;
        width: 140px;
    }
    .add {
        font-size: 24px;
        width: 520px;
    }
    .tab tr {
        height: 50px;
    }
}

@media (max-height: 500px) {
    .btn-add {
        height: 35px;
        width: 120px;
    }

    .cancel {
        height: 35px;
        width: 120px;
    }

    .add{
        font-size: 20px;
        width: 440px;
    }
    .tab tr {
        height: auto;
    }
}