body {
}

.wrapper {
    width: 100%;
    position: relative;
}

.form {
    margin-top: 2%;
    vertical-align: middle;
    position: relative;
    padding-top: 20px;
    font-size: 28px;
    border-radius: 10px 10px 0 0;
    border-top: 10px solid #009879;
    border-bottom: 5px solid #009879;
    margin-inline: auto;
    width: 600px;
    height: auto;
    background-color: #F1F6FF;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
}

.tab tr {
    height: 60px;
    width: 100%;
    vertical-align: top;
}

.tab td {
    padding-left: 20px;
    text-align: start;
}

    .tab td:first-of-type {
        font-weight: bold;
    }

    .tab td:last-of-type {
        margin-left: 20px;
        padding-left: 40px;
    }

.btns {
    margin-top: 20px;
    width: 100%;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.btn, .btn input[type=submit] {
    height: 50px;
    width: 200px;
    font-size: inherit;
}

.btn-add {
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    background-color: #009879;
    color: white;
}

.btn-add:hover {
    background-color: #008066;
}

.cancel {
    margin-left: 5px;
    border-radius: 10px;
    background-color: lightslategray;

}

    .cancel:hover {
        background-color: gray;
    }

    .cancel a {
        height: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        display: flex;
    }


.error {
    text-align: center;
    display: block;
    outline: none;
    color: red;
    font-size: 18px;
}

.static {
    display: block;
}

@media (max-height: 600px) {
    .btns {
    }
    .btn-add {
        height: 40px;
        width: 140px;
    }
    .cancel {
        height: 40px;
        width: 140px;
    }
    .add {
        font-size: 24px;
        width: 520px;
    }
    .tab tr {
        height: 50px;
    }
}

@media (max-height: 500px) {
    .btn-add {
        height: 35px;
        width: 120px;
    }

    .cancel {
        height: 35px;
        width: 120px;
    }

    .add{
        font-size: 20px;
        width: 440px;
    }
    .tab tr {
        height: auto;
    }
}