table {
    display: flex;
    padding-bottom: 10px;
    border-bottom: var(--border);
}

.details {
    margin-inline: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.label {
    font-size: 20px;
}

.value {
    font-size: 22px;
    padding-left: 30px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btns > .btn:first-child{
    margin-right: 10px;
}
