body {
}

.wrapper {
    width: 100%;
}

.edit {
    font-size: 28px;
    display: block;
    border-radius: 10px 10px 0 0;
    border-top: 10px solid #009879;
    border-bottom: 5px solid #009879;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 450px;
    background-color: #F1F6FF;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
    box-shadow: 1px 1px 10px 0px rgba(135,135,135,1);
}

.tab tr {
    height: 58px;
}

.tab td {
    padding: 5px;
}

    .tab td:first-of-type {
        font-weight: bold;
    }

    .tab td:last-of-type {
        margin-left: 20px;
        padding-left: 40px;
    }