.wrapper {
    margin-inline: auto;
    width: 80%;
    float: right;
}

table {
    height: 100%;
    display: block;
    border-radius: 5px;
    overflow: auto;
    margin-inline: 20px;
    margin-bottom: 80px;
}

table body {
    overflow: auto;
}

    table tr {
        height: 60px;
        font-size: 24px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }

    table td:first-child, th:first-child{
        padding-left: 10px;
    }

    table thead tr {
        background-color: #2D1A38;
        color: #fff;
    }

    table thead th {
        border-bottom: none;
    }

    table td {
        vertical-align: middle;
        width: 100%;
    }

    table th a{
        text-decoration: none;
        color: white;
    }
    table tbody tr:nth-of-type(even) {
        background-color: #C2B7C5;
    }

    table tbody tr:nth-child(2n+1) {
        background-color: #CBC2CD;
    }

    table tbody tr:hover {
        background-color: #cfcfcf;
    }

    table .btn {
        font-size: 18px;
        margin-inline: 5px;
        color: white;
    }

    table .btns {
        display: flex;
    }

.btn-details {
    background: #0c5778;
}

.btn-choose {
    background: #122f3b;
}

.btn-edit {
    background: #0c5778;
}

.btn-delete {
    background: #780018;
}

.empty {
    font-size: 48px;
    font-weight: bold;
    text-align: center
}

.filter {
    display: inline-block;
    margin-block: 10px;
    margin-left: 20px;
}

    .filter-btn:hover {
        background: #7c739d;
    }

    .filter input[type=number]
    {
        max-width: 50px;
    }

    .filter .group {
        max-width: 100px;
    }

    .filter div {
        display: inline-block;
    }
    .filter ul {
        padding: 0px;
    }

    .filter li {
        vertical-align: middle;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
