.filter-group {
    display: flex;
    margin-top: 20px;
}

    .filter-group input {
        padding-left: 20px;
        height: 40px;
        width: 900px;
        border: var(--border);
        border-radius: var(--border-radius);
        margin-right: 40px;
    }

    .filter-group .btn {
        margin-right: 20px;
    }

table {
    width: 100%;
    margin-top: 50px;
    border-bottom: var(--border);
}

    table thead tr {
        border-bottom: var(--border);
        padding-bottom: 20px;
        font-size: 18px;
    }

    table thead th {
        font-weight: normal;
        padding-bottom: 10px;
    }

        table thead th a {
            text-decoration: none;
            color: var(--text-color)
        }

    table tbody {
        font-size: 20px;
    }

        table tbody tr td {
            padding-top: 8px;
            padding-bottom: 8px;
        }

    table .btn {
        height: 30px;
        padding-inline: 10px;
    }

.actions {
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

.actions li{
    list-style: none;
    margin-inline: 10px;
}

.btn.add {
    margin-top: 20px;
    width: fit-content;
    display: flex;
}

img.icon {
    height: 30px;
}

.btn-delete {
    background: none;
    border: none;
}

.pagination-group {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

    .pagination-group .btn {
        display: flex;
        padding-inline: 10px;
        margin-inline: 3px;
        text-align: center;
        width: min-content;
    }

.btn.disabled {
    opacity: 0.5;
}
