.wrapper {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

table {
    display: block;
    border-radius: 5px;
    overflow: auto;
}

.tab {
    position: relative;
    margin-inline: 20px;
    margin-bottom: 80px;
    width: auto;
    overflow: auto;
}

    table tr {
        height: 60px;
        min-width: 400px;
        font-size: 24px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }

    table td:first-child, th:first-child{
        padding-left: 10px;
    }

    table thead tr {
        position: sticky;
        top: 0;
        background-color: #2D1A38;
        color: #fff;
    }

    table thead th {
        border-bottom: none;
    }

    table html,
    table td {
        vertical-align: middle;
        width: 100%;
    }

    table th a{
        text-decoration: none;
        color: white;
    }
    table tbody tr:nth-of-type(even) {
        background-color: #C2B7C5;
    }

    table tbody tr:nth-child(2n+1) {
        background-color: #CBC2CD;
    }

    table tbody tr:hover {
        background-color: #cfcfcf;
    }

.btns {
    display: flex;
}

button {
    color: white;
    font-size: 20px;
    padding-inline: 10px;
    display: inline-block;
    margin-inline: 10px;
    height: 40px;
    text-align: center;
}

.details {
    padding-inline: 10px;
    background-color: #00538f;
    border-radius: 10px;
}

    .details a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .details:hover {
        background: #0040E5
    }

.choose button{
    height: 40px;
    background: #480cff;
    border-radius: 10px;
    border: none;
    color: white;
}

.delete button{
    background-color: red;
    height: 40px;
    border: none;
    border-radius: 10px;
}

    .details a, .delete button {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }


.delete button:hover {
    background-color: #B40000;
}


.empty {
    font-size: 48px;
    font-weight: bold;
    text-align: center
}

.filter {
    margin-right: 20px;
    margin-left: 20px;
}

.content {
    width: 100%;
    display: inline-block;
    padding: 5px 0px;
}

.filter-btn {
    border-radius: 5px;
    display: inline-block;
    background: #695E93;
    color: white;
    border: none;
}

.content input[type=submit] {
    padding: 2px 10px;
}

    .filter-btn a {
        padding: 2px 10px;
        color: white;
        align-items: center;
        display: flex;
        text-decoration: none;
        height: 100%;
        width: 100%;
    }

.add {
    float: right;
}

.add a {
    padding-inline: 20px;
}

.filter-btn:hover {
    background: #7c739d;
}

.filter input[type=number]
{
    width: 50px;
}

.filter .group {
    width: 100px;
}