html, body {
    height: 100%;
}

.sidenav {
    border-right: 1px solid #525252;
    padding-top: 50px;
    color: #525252;
    font-size: 24px;
    width: 250px;
    height: 100%;
}

    .sidenav a {
        padding-left: 20px;
        display: block;
        padding-bottom: 11px;
        color: #525252;
        text-decoration: none;
    }
