.sidenav {
    border-right: solid #ccc 1px;
    display: block;
    min-width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(134, 157, 174, 1);
    overflow-x: hidden;
    background: linear-gradient(rgba(160, 132, 220, 1), rgba(134, 157, 174, 0));
}

a {
    color: #272727;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 32px;
        display: block;
        border-bottom: 1px solid black;
    }

        .sidenav a:hover {
            color: white
        }

.active {
    color: white;
    background: linear-gradient(90deg, rgba(79,100,108,1) 0%, rgba(79,100,108,0) 100%);
}

@media screen and (max-width: 900px) {
    .sidenav {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
