html {
    font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
}

body {
    margin-bottom: 60px;
}



form{
    align-content:center;
}

ul{
    list-style-type:none;
}

.error {
    color: red;
}