html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    align-content:center;
    align-items:center
}

ul{
    list-style-type:none;
}

.error {
    color: red;
}