html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    position: relative;
    background: url(fon.webp);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.table {
    width: auto;
    top: 20px;
    right: 5%;
    left: 5%;
    margin-right: 5%;
    position: absolute;
    display: block;
    overflow: auto;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 100px;
    bottom: 200px;

    margin-top: 20px;
    padding-bottom: 50px;
}

    .table tr {
        align-content: center;
        height: 80px;
        font-size: 24px;
        min-width: 400px;
        /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);*/
    }

    .table thead tr {
        position: relative;
        background-color: #009879;
        color: #fff;
    }

    .table thead th {
        position: sticky;
        top: 0;
        background-color: #009879;
    }

    .table html,
    .table td {
        vertical-align: middle;
        width: 100%;
    }

    .table body {
        overflow: auto;
    }

    .table tbody tr {
/*        border-bottom: 1px solid #dddddd;*/
    }

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:nth-child(2n+1) {
    background-color: #F5F5F5;
}

.table tbody tr:hover {
    background-color: #dddddd;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.add {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 200px;
    height: 60px;
    width: 400px;
    background-color: #009879;
    border-radius: 10px;
    color: white;
    text-align: center;
    align-content: center;
}

    .add a {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        height: 100%;
        font-size: 24px;
        text-decoration: none;
        color: white;
    }

.city {
    width: 300px;
}

.street{
    width: 300px;
}

.details {
    display: flex;
    text-align: center;
    height: 50px;
    width: 140px;
    background-color: #2670FF;
    border-radius: 10px;
    align-content: center;
    color: white;
}

    .details a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        height: 100%;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color: white;
    }

.delete input[type=submit] {
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 120px;
    background-color: red;
    align-content: center;
}

.choose {
    display: flex;
    height: 50px;
    width: 200px;
    background: #002B98;
    border-radius: 10px;
    color: white;
}

    .choose a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        height: 100%;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
