@page "/floors/add"
@model AddModel
@{
    ViewData["Title"] = "Add floor";
}
@section styles
{
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
}

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>Type: </td>
                <td>
                    <select name="type">
                        <option value="floor">Floor</option>
                        <option value="basement">Basement</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="FloorNumber">
                        Number: 
                    </label>
                </td>
                <td>
                    <input asp-for="FloorNumber"/>
                </td>
            </tr>
        </table>
        <partial name="FormButtons" />
    </form>
</div>