@page "/floors/{id}"
@model FloorDetails
@{
    ViewData["Title"] = "Floor details";

    if(Model.FloorDto!.Number < 0)
    {
        <p>Basement level @(-Model.FloorDto!.Number)</p>
    }
    else
    {
        <p>Floor @Model.FloorDto.Number</p>
    }
}

<p>Rooms count: @Model.FloorDto.Rooms.Count()</p>

<table>
    @foreach (var room in Model.FloorDto.Rooms)
    {
        <tr>
            <td>Room @room.Number</td>
        </tr>
    }
</table>