@page "/floors/{id}"
@model DetailsModel



@{
    if(Model.Floor!.Number < 0)
    {
        <p>Basement level @(-Model.Floor!.Number)</p>
    }
    else
    {
        <p>Floor @Model.Floor!.Number</p>
    }
}
<p>Rooms count: @Model.Rooms!.Count()</p>

<table>
    @foreach (var room in Model.Rooms!)
    {
        <tr>
            <td>Room @room.Number</td>
        </tr>
    }
</table>