@page "/floors"
@model SchoolManagement.Web.Pages.Floors.ListModel
@{
}

<partial name="Sidebar" />

<h1 align="center">Floors</h1>

<table align="center">
    @foreach(var floor in @Model.Floors)
    {
        <tr>
            <td><a asp-page="Floor">Floor @floor.Number</a></td>
        </tr>
    }
</table>
<form method="post">
    <input type="submit" value="Add" asp-page-handler="AddFloor"/>
</form>