@page "/floors"
@model FloorListModel
@{
}

<partial name="Sidebar" />

<h1 align="center">Floors</h1>
<table align="center">
    @foreach(var floor in FloorListModel.Floors.Reverse())
    {
        <tr>
            <td><a asp-page="Floor">
                @if(floor.Number < 1)
                {
                    floor.Number = -floor.Number;
                    @:Basement level @floor.Number
                }
                else
                {
                    @:Floor @floor.Number
                }
            </a></td>
            <form method="post" align="center">
                <td><button type="submit" asp-page-handler="delete" asp-route-id="@floor.Id">Delete</button></td>
            </form>
        </tr>
    }
</table>
<form method="post" align="center">
    <input type="submit" value="Add basement" asp-page-handler="AddBasement" />
    <input type="submit" value="Add floor" asp-page-handler="AddFloor"/>
</form>