@page "/schools/add"
@model SchoolFormModel

@section styles
{
    <link rel="stylesheet" href="~/css/add.css" />
}

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>
                    <label asp-for="SchoolDto.Name">
                        Name: 
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.Name" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SchoolDto.Country">
                        Country:
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.Country" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SchoolDto.City">
                        City/town:
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.City" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SchoolDto.Street">
                        Street:
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.Street" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SchoolDto.PostalCode">
                        Postal code:
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.PostalCode" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SchoolDto.OpeningDate">
                        Opening date:
                    </label>
                </td>
                <td>
                    <input asp-for="SchoolDto.OpeningDate" type="datetime" required />
                </td>
            </tr>
        </table>
        <div class="error">@Model.ErrorMessage</div>
        <div class="btns">
            <button type="submit" class="btn btn-save btn-lg">Add school</button>
            <a asp-page="List" class="btn btn-cancel btn-lg">Cancel</a>
        </div>
    </form>
</div>