@page "/schools/add"
@model SchoolFormModel

@section styles
    {
    <link rel="stylesheet" href="~/css/add.css" />
}

<div class="wrapper">
    <form method="post" class="form">
        <table>
            <tr>
                <td>
                    <label asp-for="School.Name">
                        Name: 
                    </label>
                </td>
                <td>
                    <input asp-for="School.Name" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Address.Country">
                        Country:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Address.Country" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Address.City">
                        City/town:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Address.City" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Address.Street">
                        Street:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Address.Street" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Address.PostalCode">
                        Postal code:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Address.PostalCode" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.OpeningDate">
                        Opening date:
                    </label>
                </td>
                <td>
                    <input asp-for="School.OpeningDate" required />
                </td>
            </tr>
        </table>
        <div class="btns">
            <input class="btn btn-primary" type="submit" value="Add school" />
            <a asp-page="List" class="btn btn-cancel">Cancel</a>
        </div>
    </form>
</div>

                        <script>
            $(document).ready(function() {
                $.getJSON("data.json", function(json) {
                    $("#json").text(JSON.stringify(json));
                });
            });
        </script>