@page "/schools/add"
@model AddSchoolModel
@{
    ViewData["Title"] = "Add school";
}
@section styles
    {
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
}

<div asp-validation-summary="ModelOnly"></div>

<form method="post">

    <label asp-for="SchoolDto.Name">
        Name
        <input asp-for="SchoolDto.Name" autofocus required/>
    </label>
    <span asp-validation-for="SchoolDto.Name" class="error"></span>

    <label asp-for="SchoolDto.Country">
        Country
        <input asp-for="SchoolDto.Country" required />
    </label>
    <span asp-validation-for="SchoolDto.Country" class="error"></span>

    <label asp-for="SchoolDto.City">
        City/town
        <input asp-for="SchoolDto.City" required />
    </label>
    <span asp-validation-for="SchoolDto.City" class="error"></span>

    <label asp-for="SchoolDto.Street">
        Street
        <input asp-for="SchoolDto.Street" required />
    </label>
    <span asp-validation-for="SchoolDto.Street" class="error"></span>

    <label asp-for="SchoolDto.PostalCode">
        Postal code
        <input asp-for="SchoolDto.PostalCode" required />
    </label>
    <span asp-validation-for="SchoolDto.PostalCode" class="error"></span>

    <label asp-for="SchoolDto.OpeningDate">
        Opening date
        <input type="date" asp-for="SchoolDto.OpeningDate" required />
    </label>
    <span asp-validation-for="SchoolDto.OpeningDate" class="error"></span>

    <div class="error">@ViewData["ErrorMessage"]</div>
    <div class="btns">
        <button type="submit" class="btn">Add school</button>
        <a asp-page="List" class="btn">Cancel</a>
    </div>

</form>
