@page "/schools/{id}/edit"
@model EditModel

@section styles
{
    <link rel="styleshee t" href="~/css/edit.css" />
}

<div class="wrapper">
    <form method="post" class="edit">
        <table class="tab">
            <tr>
                <td>
                    <label asp-for="School.Name">
                        Name:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Name" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Country">
                        Country:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Country" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.City">
                        City/town:
                    </label>
                </td>
                <td>
                    <input asp-for="School.City" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.Street">
                        Street:
                    </label>
                </td>
                <td>
                    <input asp-for="School.Street" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.PostalCode">
                        Postal code:
                    </label>
                </td>
                <td>
                    <input asp-for="School.PostalCode" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="School.OpeningDate">
                        Opening date:
                    </label>
                </td>
                <td>
                    <input asp-for="School.OpeningDate" required />
                </td>
            </tr>
        </table>
        <div>@Model.ErrorMessage</div>
        <input type="hidden" asp-for="School!.Id" />
        <div class="btns">
            <button type="submit" class="btn btn-save">Save</button>
            <div class="btn btn-cancel">
                <a asp-route-id="@Model.School!.Id" asp-page="Details">Cancel</a>
            </div>
        </div>
    </form>
</div>