@page "/schools"
@model SchoolListModel
@{
    if(Model.IsError)
    {
        <script>alert('No school selected, please select a school');</script>
    }
    if(!Model.IsFirst)
    {
        <partial name="Sidebar" />;
    }
}



<h1 align="center">Your Schools</h1>
<table align="center" width="500px" border="1">
    @foreach (var school in SchoolListModel.Schools!)
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@school.Id">@school.Name</a></td>
            <td>
                <form asp-page-handler="Delete" method="post" asp-route-id="@school.Id" 
                onclick="return confirm('Are you sure you want to delete school @school.Name?')">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
<div align="center"><a asp-page="Add">Add School</a></div>