@page "/schools"
@model SchoolListModel
@{
    if(Model.IsError)
    {
        <script>alert('No school selected, please select a school');</script>
    }
    if(!Model.IsFirst)
    {
        <partial name="Sidebar" />;
    }
}

<link rel="stylesheet" href="~/css/main.css"/>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Street</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in SchoolListModel.Schools!)
        {
            <tr class="active">
                <td class="name">@school.Name</td>
                <td>City</td>
                <td>Street</td>
                <td><a class="details" asp-page="Details" asp-route-id="@school.Id">Details</a></td>
                <td>
                    <form asp-page-handler="Delete" method="post" asp-route-id="@school.Id" 
                    onclick="return confirm('Are you sure you want to delete school @school.Name?')">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div align="center"><a asp-page="Add">Add School</a></div>