@page "/schools"
@model SchoolListModel
@{
    if(Model.IsError)
    {
        
    }
    if(Model.IsFirst)
    {
        <partial name="Sidebar" />;
    }
}

<h1 align="center">Your Schools</h1>
<table align="center" width="500px" border="1">
    @foreach (var school in SchoolListModel.Schools!)
    {
        <tr>
            <td><a asp-page="Details" asp-route-id="@school.Id">@school.Name</a></td>
            <form method="post">
                <td><input type="submit" asp-page-handler="delete" asp-route-id="@school.Id" value="Delete"/></td>
            </form>
        </tr>
    }
</table>
<div align="center"><a asp-page="Add">Add School</a></div>