@page "/schools"
@model SchoolListModel
@{
    if(Model.Valid == false)
    {
        
    }
}

<h1 align="center">Your Schools</h1>
<table align="center" width="500px" border="1">
    @foreach (var school in SchoolListModel.Schools!)
    {
        <tr>
            <td><a asp-page="School" asp-route-id="@school.Id">@school.Name</a></td>
            <form method="post">
                <td><a asp-page="Edit" asp-route-id="@school.Id">Edit</a></td>
                <td><button type="submit" asp-page-handler="delete" asp-route-id="@school.Id">Delete</button></td>
            </form>
        </tr>
    }
</table>
<div align="center"><a asp-page="Add">Add School</a></div>