@page "/school/{id}"
@model CurrentSchoolModel
@{
}

<table> 
    <tr>
        <td>Name</td>
        <td>@Model.CurrentSchool.Name</td>
    </tr>
    <tr>
        <td>Opening date</td>
        <td>@Model.CurrentSchool.OpeningDate</td>
    </tr>
</table>